* {
    margin: 0;
    padding:0;
    font-family: AvenirNext,Avenir,Helvetica Neue,Helvetica,Arial,sans-serif;
}
body {
    background-color: whitesmoke;
    
}
.nav {
    padding: 0px 20px;
    display: inline-flex;
    float: right;
    margin: 11px 53px 0px 0px;
    font-size: small;
   
}

.nav-text a {
    text-decoration:none;
}

.nav .signin-button .fa{
    margin: 0px 5px 0px 0px;
}

.signin-button button{
    background-color: #17679c;
    color: white;
    height: 36px;
    border-radius: 5px;
    width: 176%;
    border: 1px solid #4c4c4c;
    margin: 0 0 0 6px;
}
.nav-button button i {
    margin-right: 7px;
}
#logo {
    display: flex;
    justify-content: center;
    
}
#logo ul {
    list-style: none;
    display: inline-flex;
    margin-left: 282px;
}
.logo-container {
    margin-top: 83px;
    margin-left: 14px;
}
.mint-img {
    width: 118px;
    height: 35px;
    background-image: url(https://plugin.intuitcdn.net/identity-authn-core-ui/1.6.5/images/ecosystem_logos_new.png);
    background-position: 0 0;
    margin: 0px 0px 23px 374px;
}
#img2 img {
    height: 14px;
    margin: 2px 8px 0px 4px;
}
#img4 img {
    height: 20px;
    margin: 1px 8px 0px 4px;
}
#img6 img {
    height: 16px;
    margin: 1px 8px 0px 4px;
}
.logo-container ul img {
    height: 22px;
}
border-box{
    overflow: visible;
    margin: 0 auto; 
    color: #4c4c4c;
    flex-direction: column;
}

.signup-form form {
    text-align: left;
    margin: 20px 0;
}
@media only screen and (max-width: 420px) {
    .signup-form {
        margin-right: 0;
        margin-left: 0;
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        border: none;
    }
}
.signup-form {
    font-size: 0.8rem;
    color: #444;
    width: 320px;
    border: 1px solid #bbb;
    padding: 10px 30px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin: 50px auto;
    background-color:#eee;
}

.signup-form p {
    margin-top: 20px;
}
input[type="email"],
input[type="number"],
input[type="password"] {
            box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    height: 30px;
    border-radius: 3px;
    border: 1px solid #bbb;
    margin: 10px auto 30px auto;
    width: 100%;
    display: block;
    font-size: 1rem;
    padding: 0 8px;
}

input[type="number"] {
    margin-bottom: 0;
}

input[type="submit"] {
    font-size: 1rem;
    color: white;
    width: 100%;
    padding: 14px;
    background-color: rgb(42, 131, 219);
    border-radius: 5px;
    border-bottom: 1px solid gray;
}

small {
    display: block;
    margin: 5px 0 30px 0;
}
.Agreement {
    line-height: 1.5rem;
    font-size: 0.7rem;
    color: #999;
    padding: 15px 10px;
}

a {
    text-decoration: none;
}

footer {
    background-color: #eee;
    margin: -10px -30px -10px -30px;
    width: auto;
    padding: 20px;
    font-size: .8rem;
    text-align: center;
}
ul{
    display: inline-flex;
    list-style-type: none;
}
ul li{
    padding: 4px;
}